name: Build and Release Mod

on:
  push:
    branches:
      - main
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0
          submodules: recursive
      - name: Build wheel
        run: |
          pip install mypy build wheel
          python -m build -w . -o dist/release
          stubgen -o typings/ src/stationeers_pytrapic
          zip -r dist/release/typings.zip typings
      - uses: ./Template
